* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.medsos {
    padding: 6px 0;
    background-color: #1E90FF;
}

.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    color: #1E90FF;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 25px 20px;
    display: inline-block;
}

header ul li a:hover {
    background-color: #1E90FF;
    color: #fff;
}

.active {
    background-color: #1E90FF;
    color: #fff;
}

.banner {
    height: 60vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

section {
    padding: 50px 0;
}

section h3 {
    text-align: center;
    padding: 25px 0;
    color: #1E90FF;
}

.about,
.service {
    padding-bottom: 100px;
}

.about p {
    color: #000000;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;
}

.skill {
    color: #000000;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.service {
    background-color: #f9f9f9;
}

.box {
    color: #1E90FF;
}

.box:after {
    content: "";
    display: block;
    clear: both;
}

.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    margin: 0 auto;
}

.box .col-4 h4 {
    margin: 20px 0;
}

footer {
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.bg-loader {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #1E90FF;
    border-right-color: #1E90FF;
    border-bottom-color: #1E90FF;
    animation: puterin .6s linear infinite;
}

.label {
    background-color: #1E90FF;
    color: #fff;
    padding: 20px 0;
}

@keyframes puterin {
    100% {
        transform: rotate(360deg);
    }
}

div.gallery {
    /* margin: 100px; */
    margin-left: 8%;
    margin-top: 2%;
    border: 1px solid #ccc;
    float: none;
    width: 180px;
    display: inline-block;
}

div.gallery:hover {
    border: 2px solid #1E90FF;
}

div.gallery img {
    width: 180px;
    height: 140px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.client {
    /* margin: 100px; */
    margin-left: 8%;
    margin-top: 2%;
    float: none;
    width: 180px;
    display: inline-block;
}

div.desc {
    padding: 15px;
    text-align: center;
}


/* 
 * Maksud dari @media ini agar supaya layar pada mobile responsive berdasarkan lebar pixel layarnya 
 * 
 * @max-width : 470px
*/
@media screen AND (max-width : 470px) {

    header ul {
        float: left;
    }

    header ul li {
        padding-left: 10px;
    }

    header ul li a {
        font-size: 12px;
        padding: 20px 2px;
    }

    header ul li a:hover {
        background-color: #1E90FF;
        color: #fff;
    }

    .content_home {
        width: 100% !important;
        height: 100%;
    }

    /* Tambahkan ini supaya responsive pada table */
    .table_respon {
        overflow: hidden;
        overflow-x: auto;
        clear: both;
        width: 100%;
    }
}

