* {
    padding:0;
    margin:0;
    font-family: sans-serif;
}
a {
    color: inherit; 
    text-decoration: none;
}
.medsos {
    padding:5px 0;
    background-color: #1E90FF; 
}
.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container {
    width:80%;
    margin:0 auto;
}
.container:after {
    content:"";
    display: block;
    clear: both;
}
header h1 {
    float: left;
    padding:15px 0;
    color: #1E90FF;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding:25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color:  #1E90FF;
    color: #fff;
}
.active{
    background-color:  #1E90FF;
    color: #fff;
}
.banner {
    height: 60vh;
    background-image: url('../img/marketplace.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(30, 144, 255, .5);
}
.banner h2 {
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border:3px solid #fff;
}
section {
    padding:50px 0;
}
section h3{
    text-align: center;
    padding:20px 0;
    color: #1E90FF;
}
.about p {
    color: #000000;
    word-spacing: 2px;
    line-height: 25px;
}
.service {
    background-color: #f9f9f9;
}
.box {
    border:1px solid;
}
.box .col-4 {
    width:25%;
    padding:20px;
    box-sizing: border-box;
    border:1px solid;
}

.icon {
    width:70px;
    height:70px;
    border:1px solid;
    border-radius: 50%;
}


/* ===================== Menu Navbar ========================= */
@media screen AND (max-width : 960px) {
    body {
        background-color: red;
    }

}